* {
  font-family: 'Cormorant Garamond', serif;

}

h4 {
  font-size: 2rem;
}

label,
#informationBlockLink {
  font-size: 1.5rem;
}

#informationBlockHeading {
  font-size: 2rem;
}

p,
#inputName,
.bg-mainFormButton,
.btn-main,
.btn-info,
#goToMainPage {
  font-size: 24px;
}

.bg-mainFormButton {
  color: white;
}

.bg-mainFormButton:hover {
  background-color: #ddc8b2
}

#mainPageButtons {
  display: flex;
  justify-content: space-between;
}

.btn-main {
  background-color: #ddc8b2;
}

.btn-main:hover {
  background-color: #754f40c7;
  color: white
}

.bg-mainForm {
  background-color: #e9e3d7
}

.bg-mainFormButton {
  background-color: #754f40c7;
  border: 0;
}

@media (max-width: 576px) {
  .headerImg {
    width: 50%;
  }
}

@media (max-width: 768px) {


  #mainPageButtons {
    flex-direction: column;
  }

  #mainPageButtons a {
    width: 100%;
    margin: .5em 0;
  }
}

/* add linear colors to background */
body {
  /* background: linear-gradient(45deg, #fff, #e9e8ee, #e8d9cb, #f0f5f4);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite; */
  background: linear-gradient(320deg, #fffffff2, #e9e8eef2, #e8d9cbf2, #f0f5f4f2), url(../assests/medieval-pic.jpg) no-repeat 300% 300%;
  animation: color 20s ease-in-out infinite;
  background-size: cover;
}

/* gradually changes color from one css rule to other */
@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.card .img-fit {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

/* makes all cards the same size */
.card {
  height: 100%;
  transition: all 0.4s;
}

/* align all card buttons to the bottom of the body */
.card-body {
  display: flex;
  height: 100%;
  flex-direction: column;

}

/* need this to align buttons inside card to align to bottom with paragraph */
.card-text {
  flex-grow: 1;
}

.card:hover {
  transform: scale(1.08);
}

.section-img img {
  height: 500px;
  width: 400px;

}

/* #categoriesBlock {
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
} */

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}